.lista-gare-div{
  width: 90%;
  max-width: 500px;
  margin: 0 auto 50px auto;
  color: white;
  h1, h2{
    font-size: 2rem;
    text-align: center;
  }
  h1{
    margin-top: 10px;
  }
  h2{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  div{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}
