<footer>
  <div class="socials-div">
    <ul>
      <li><a routerLink="https://www.instagram.com/gabriele.iannuzzo"><i class="fa-brands fa-instagram"></i></a></li>

      <li><a routerLink="https://www.facebook.com/profile.php?id=61557666003846"><i class="fa-brands fa-facebook"></i></a></li>

      <li><a routerLink=""><i class="fa-brands fa-x-twitter"></i></a></li>

      <li><a routerLink=""><i class="fa-brands fa-youtube"></i></a></li>

      <li><a routerLink="https://github.com/gabrieleiannuzzo/capstone-project-front-end"><i class="fa-brands fa-github"></i></a></li>
    </ul>
  </div>

  <div class="lists-div">
    <div class="footer-div">
      <ul>
        <li><a routerLink="/campionati/nuovo-campionato">Crea un campionato</a></li>
        <li><a routerLink="">I miei campionati</a></li>
        <li><a routerLink="">FAQ</a></li>
      </ul>
    </div>

    <div class="footer-div">
      <ul>
        <li><a routerLink="">Contattaci</a></li>
        <li><a routerLink="">Segnala un problema</a></li>
      </ul>
    </div>

    <div class="footer-div">
      <ul>
        <li><a routerLink="">Collabora con noi</a></li>
      </ul>
    </div>
  </div>

  <p class="copyright">Racehub 2024&copy; All Rights Reserved</p>
  <p class="policies"><a routerLink="">Privacy policy</a> | <a routerLink="">Cookie policy</a></p>
</footer>
