<div class="inviti-div">
  <div class="arrow-div"></div>
  <div class="cover-div"></div>

  <h3 *ngIf="inviti.length">INVITI RICEVUTI</h3>
  <p class="nessun-invito-p" *ngIf="!inviti.length || !inviti">Nessun invito da mostrare</p>

  <div *ngFor="let invito of inviti" class="invito-div" (click)="redirectToPage(invito.id)">
    <p>{{"DA: " + invito.fromUser.username}}</p>
    <p>{{"CAMPIONATO: " + invito.campionato.nome}}</p>
    <p>{{"RUOLO: " + invito.ruolo}}</p>

    <div class="accept-div">
      <i class="fa-solid fa-check"></i>
    </div>

    <div class="decline-div">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </div>
</div>
