<div id="form-div">
  <h1>Reset password</h1>
  <form [formGroup]="form">
    <div id="inputs-div">
      <div class="password-div">
        <input [type]="passwordInputType()" formControlName="newPassword" [ngClass]="{'error': errorMessage || emptyInput}" (focus)="onInputFocus" placeholder="Nuova password" class="password-input" (blur)="onInputBlur('newPassword')">
        <i class="fa-solid" [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}" (click)="toggleShowPassword()"></i>
      </div>
      <p class="error-p" *ngIf="errorMessage">{{errorMessage}}</p>
    </div>
    <button (click)="resetPassword()">Reset password</button>
  </form>
</div>
