<main>
  <section class="title-section">
    <div class="title-div">
      <div>
        <h1>Benvenuto su RaceHub:</h1>
        <h2>"L'Instagram dei simracer"</h2>
      </div>
      <img src="../../../assets/images/f1-car.png" alt="Foto macchina F1">
    </div>
  </section>

  <section class="nuovo-campionato-section">
    <div class="nuovo-campionato-div">
      <div>
        <h2>Crea e gestisci campionati<br> da dove vuoi</h2>
        <a routerLink="/campionati/nuovo-campionato" class="first-link">CREA UN CAMPIONATO</a>
      </div>
      <img src="../../../assets/images/trofeo.png" alt="Foto trofeo">
      <a routerLink="/campionati/nuovo-campionato" class="second-link">CREA UN CAMPIONATO</a>
    </div>
  </section>

  <section class="campionati-section">
    <div class="campionati-div">
      <div>
        <h2>Cerca i campionati della tua community</h2>
        <a routerLink="/campionati" class="first-link">VAI AI CAMPIONATI</a>
      </div>
      <img src="../../../assets/images/podium.png" alt="">
      <a routerLink="/campionati" class="second-link">VAI AI CAMPIONATI</a>
    </div>
  </section>

  <section class="newsletter-section">
    <div class="newsletter-div">
      <h2>Iscriviti alla newsletter</h2>
      <form>
        <input type="text" placeholder="Indirizzo email">
        <button>ISCRIVITI</button>
      </form>
    </div>
  </section>
</main>
