<div class="edit-gara-div">
  <h1>{{gara.nome}}</h1>

  <!-- GARA -->
  <h2>GARA</h2>
  <div class="driver-results-div">
    <div class="driver-result" *ngFor="let ris of risultatiGara, let i = index">
      <div>
        <p>{{i + 1 + "°"}}</p>
      </div>

      <select [(ngModel)]="risultatiGara[i].idPilota" (change)="setScuderia(risultatiGara, i)">
        <option value="">SELEZIONA PILOTA</option>
        <optgroup label="Piloti titolari">
          <option *ngFor="let p of freeDrivers(pilotiTitolari, risultatiGara, i)" [value]="p.id">{{getNome(p, risultatiGara, i)}}</option>
        </optgroup>
        <optgroup label="Wild cards">
          <option *ngFor="let p of freeDrivers(wildCards, risultatiGara, i)" [value]="p.id">{{p.utente ? p.utente.username : p.nome}}</option>
        </optgroup>
      </select>

      <select [(ngModel)]="risultatiGara[i].idScuderia" [disabled]="isPilotaTitolare(risultatiGara[i].idPilota) || !risultatiGara[i].idPilota">
        <option value="">SELEZIONA SCUDERIA</option>
        <option *ngFor="let s of scuderie" [value]="s.id">{{s.nome}}</option>
      </select>

      <button [ngClass]="{'active': ritiratiGara[i]}" (click)="toggleBoolean(ritiratiGara, i)">RITIRO</button>
      <button [ngClass]="{'active': penalitaGara[i]}" (click)="toggleBoolean(penalitaGara, i)">PENALIT&#192;</button>
    </div>
  </div>

  <!-- GARA SPRINT -->
  <h2 *ngIf="gara.sprint">GARA SPRINT</h2>

  <!-- QUALIFICHE -->
  <h2 *ngIf="saveQuali || polePoint">{{saveQuali ? "QUALIFICHE" : "POLE POSITION"}}</h2>

  <!-- QUALIFICHE SPRINT -->
  <h2 *ngIf="gara.sprint && campionato.options.independentSprint && saveQuali">QUALIFICHE SPRINT</h2>
</div>
