.edit-gara-div{
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 30px;
  box-sizing: border-box;
  color: white;
  h1, h2{
    text-align: center;
    font-size: 2rem;
  }
  h1{
    margin-top: 10px;
  }
  h2{
    margin-top: 20px;
    &.further{
      margin-top: 40px;
    }
  }
  .salva-risultati-btn{
    display: block;
    margin: 20px auto;
    background-color: #181818;
    color: #00ff00;
    border: 2px solid #00ff00;
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
    height: 30px;
    cursor: pointer;
    &:hover{
      background-color: #00ff00;
      color: white;
    }
  }
  .cover-div{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }
  .confirm-div{
    background-color: #181818;
    border: 2px solid #ffc500;
    border-radius: 5px;
    box-shadow: 0 0 10px #181818;
    position: fixed;
    top: -200px;
    width: calc(100% - 30px);
    max-width: 500px;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.5s;
    div{
      display: flex;
      justify-content: center;
      column-gap: 10px;
      margin-top: 20px;
      button{
        width: 140px;
        height: 30px;
        border-radius: 5px;
        cursor: pointer;
        background-color: #181818;
        &.confirm-btn{
          border: 2px solid #00ff00;
          color: #00ff00;
          &:hover{
            background-color: #00ff00;
            color: white;
          }
        }
        &.delete-btn{
          border: 2px solid red;
          color: red;
          &:hover{
            background-color: red;
            color: white;
          }
        }
      }
    }
    &.show{
      top: 120px;
    }
  }
}
.blur{
  filter: blur(2px);
}
