<div id="form-div">
  <h1>Login</h1>
  <form [formGroup]="form">
    <div id="inputs-div">
      <input type="text" [ngClass]="{'error': errorMessages[0]}" formControlName="user" name="user" placeholder="Username/email" (focus)="onInputFocus(0)">
      <p class="error-p" *ngIf="errorMessages[0]">{{errorMessages[0]}}</p>
      <div id="password-div">
        <input [type]="passwordInputType" [ngClass]="{'error': errorMessages[1]}" id="password-input" formControlName="password" placeholder="Password" (focus)="onInputFocus(1)">
        <i class="fa-solid" [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}" (click)="toggleShowPassword()"></i>
      </div>
      <p class="error-p" *ngIf="errorMessages[1]">{{errorMessages[1]}}</p>
    </div>
    <div id="resta-collegato-div">
      <label>
        <input type="checkbox" formControlName="restaCollegato"> Resta collegato
      </label>
      <a routerLink="/auth/password-dimenticata">Password dimenticata?</a>
    </div>
    <button (click)="login()">Login</button>
    <p>Non hai un account? <a routerLink="/auth/register">Registrati</a></p>
  </form>
</div>
