<div id="form-div">
  <h1>Login</h1>
  <form [formGroup]="form">
    <div id="inputs-div">
      <input type="text" formControlName="user" name="user" placeholder="Username/email">
      <div id="password-div">
        <input [type]="passwordInputType" formControlName="password" placeholder="Password">
        <i class="fa-solid" [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}" (click)="toggleShowPassword()"></i>
      </div>
    </div>
    <div id="resta-collegato-div">
      <label>
        <input type="checkbox" formControlName="restaCollegato"> Resta collegato
      </label>
      <a routerLink="/auth/password-dimenticata">Password dimenticata?</a>
    </div>
    <button (click)="login()">Login</button>
    <p>Non hai un account? <a routerLink="/auth/register">Registrati</a></p>
  </form>
</div>
