
#form-div{
  background-color: white;
  z-index: 1;
  box-sizing: border-box;
  width: 90%;
  max-width: 500px;
  border-radius: 5px;
  padding: 50px 20px;
  margin: 50px auto 0 auto;
  h1{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 40px;
    color: #181818;
  }
  #inputs-div{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    input{
      width: 100%;
      height: 35px;
      margin-bottom: 20px;
      border: 1px solid grey;
      border-radius: 5px;
      box-sizing: border-box;
      padding: 0 10px;
      &:focus{
        outline: none;
      }
    }
    @media screen and (min-width: 450px) {
      width: 90%;
    }
  }
  #password-div{
    position: relative;
    i{
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: rgb(70, 70, 70);
      cursor: pointer;
    }
    input{
      margin-bottom: 0;
    }
  }

  #resta-collegato-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    label{
      font-size: 0.8rem;
      color: darken(grey, 20);
      display: flex;
      align-items: center;
      input{
        cursor: pointer;
      }
    }
    a{
      display: block;
      font-size: 0.8rem;
      text-align: end;
    }
    @media screen and (min-width: 450px) {
      width: 90%;
    }
  }

  a{
    text-decoration: none;
    color: #ffc500;
    &:hover{
      text-decoration: underline;
    }
  }

  button{
    width: 100%;
    display: block;
    margin: 20px auto;
    border: none;
    background-color: #ffc500;
    color: white;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    &:hover{
      background-color: lighten(#ffc500, 10);
    }
    @media screen and (min-width: 450px) {
      width: 90%;
    }
  }

  p{
    font-size: 0.8rem;
    text-align: center;
    color: darken(grey, 20);
  }
}
