.driver-results-div{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-top: 20px;
  &.blur{
    filter: blur(2px);
  }
  .driver-result{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    position: relative;
    width: fit-content;
    margin: 0 auto;
    div{
      position: absolute;
      top: 15px;
      transform: translateY(-50%);
      left: -30px;
      display: flex;
      justify-content: center;
    }
    select{
      height: 30px;
      border-radius: 5px;
      width: 200px;
      &:focus{
        outline: none;
      }
    }
    button{
      height: 30px;
      width: 200px;
      border-radius: 5px;
      box-sizing: border-box;
      border: 2px solid #ffc500;
      color: #ffc500;
      background-color: #181818;
      cursor: pointer;
      &:hover, &.active{
        background-color: #ffc500;
        color: white;
      }
    }
    @media screen and (min-width: 476px){
      flex-direction: row;
      justify-content: center;
      column-gap: 10px;
      flex-wrap: wrap;
      div{
        left: 50%;
        transform: translateX(calc(-50% - 230px)) translateY(-50%);
      }
    }
  }
}
