<div id="campionato-div">
  <h1>{{campionato.nome ? campionato.nome : "Campionato"}}</h1>

  <div class="img-div" [ngStyle]="{'background-image': creator.urlFotoProfilo ? 'url(' + creator.urlFotoProfilo + ')' : 'none'}">
    <i class="fa-regular fa-user" *ngIf="!creator.urlFotoProfilo"></i>
  </div>

  <a [routerLink]="getEditCampionatoLink(campionato.id)" class="aggiorna-campionato-link" *ngIf="isMyChampionship()">Aggiorna campionato</a>

  <!-- CLASSIFICA PILOTI -->
  <h2>CLASSIFICA PILOTI</h2>
  <app-classifica
  [pilotiTitolari]="pilotiTitolari"
  [wildCards]="wildCards"
  [pilotiRitirati]="pilotiRitirati"></app-classifica>

  <!-- CLASSIFICA COSTRUTTORI -->
  <h2>CLASSIFICA COSTRUTTORI</h2>

  <!-- GARE -->
  <h2>GARE</h2>
  <div class="list-div">
    <app-gare-e-campionati-component *ngFor="let gara of gare" [nome]="gara.nome" [sprint]="gara.sprint" [link]="getGaraLink(gara.id)"></app-gare-e-campionati-component>
  </div>

  <!-- CREATOR -->
  <h2>CREATORE</h2>
  <app-utenti [fotoUrl]="creator.urlFotoProfilo" [nome]="creator.username" [link]="getUtenteLink(creator.username)" [realUser]="true"></app-utenti>

  <!-- ADMINS -->
  <h2 *ngIf="admins.length">ADMINS</h2>
  <div class="list-div">
    <app-utenti *ngFor="let admin of admins"
    [fotoUrl]="admin.urlFotoProfilo"
    [nome]="admin.username"
    [link]="getUtenteLink(admin.username)"
    [realUser]="true"></app-utenti>
  </div>

  <!-- PILOTI TITOLARI -->
  <h2 *ngIf="pilotiTitolari.length">PILOTI TITOLARI</h2>
  <div class="list-div">
    <app-utenti *ngFor="let pilota of pilotiTitolari"
    [fotoUrl]="pilota.utente ? pilota.utente.urlFotoProfilo : ''"
    [nome]="!!pilota.utente ? pilota.utente.username : pilota.nome"
    [link]="!!pilota.utente ? pilota.utente.username : ''"
    [realUser]="!!pilota.utente"
    [scuderia]="pilota.scuderia"></app-utenti>
  </div>

  <!-- WILD CARDS -->
  <h2 *ngIf="wildCards.length">WILD CARDS</h2>
  <div class="list-div">
    <app-utenti *ngFor="let pilota of wildCards"
    [fotoUrl]="pilota.utente ? pilota.utente.urlFotoProfilo : ''"
    [nome]="!!pilota.utente ? pilota.utente.username : pilota.nome"
    [link]="!!pilota.utente ? pilota.utente.username : ''"
    [realUser]="!!pilota.utente"></app-utenti>
  </div>

  <!-- PILOTI RITIRATI -->
  <h2 *ngIf="pilotiRitirati.length">PILOTI RITIRATI</h2>
  <div class="list-div">
    <app-utenti *ngFor="let pilota of pilotiRitirati"
    [fotoUrl]="pilota.utente ? pilota.utente.urlFotoProfilo : ''"
    [nome]="!!pilota.utente ? pilota.utente.username : pilota.nome"
    [link]="!!pilota.utente ? pilota.utente.username : ''"
    [realUser]="!!pilota.utente"></app-utenti>
  </div>
</div>
